<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>WEBSITE TITLE</title>
		<meta name="description" content="WEBSITE TITLE" />
		<meta name="author" content="AUTHOR" />
		<meta property="og:title" content="WEBSITE TITLE" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.website.ca/" />
		<meta property="og:description" content="WEBSITE DESC" />
		<meta property="og:image" content="" />
		<link rel="stylesheet" href="assets/css/app.css" />
	</head>
	<body>
		<h1>Header 1</h1>
		{% block content %}{% endblock %}
	</body>
	<script src="assets/js/script.js"></script>
</html>
